 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>I always wanted to work in a creative environment, where I can contribute in a production capacity. That and a keen interest in tech lead to a growing interest in Web Design and eventually to General Assembly's Web Development Immersive course.</p>
                </div>
                <div class="col-lg-12">
                    <p>The course itself was intense and demanding, but above all hugely rewarding. I have learnt so much, through individual and group projects, and yet I have just scratched the surface. That is incredibly exciting.</p>
                </div>
                <div class="col-lg-12">
                    <p>Through the course, I have have gained skills in both front and back end development and as my career progresses I will ideally be able to progress in both within a forward-thinking and collaborative team. That said, I have always had a natural artistic flare, as shown through my dissertation works in Creative Writing. It therefore came as no surprise to me that I was drawn to front end development, that's what excites me most. </p>
                </div>
            </div>
        </div>
    </section>