    <!-- Header -->
    <header class="parallax-window" data-parallax="scroll" data-image-src="img/beautiful_snowy_mountains_by_morteng.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text animated fadeInDownBig">
                        <span class="name">Nye Jones</span>
                        <hr class="star-light">
                        <span class="skills">Web Developer</span>
                    </div>
                </div>
            </div>
        </div>
    </header>